@charset "UTF-8";

/*
  *通用样式
  *需合并为雪碧图的背景放在slice文件夹，并在名称结尾添加?_spriter
  *例如： background-image: url("../slice/starBig.png?_spriter");
*/

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.slide-container {
	width: 100%;
	height: 100%;
	background: #efefef;
}

.slide-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slide-cont {
	width: 100%;
	height: 100%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-align: center;
}

.slide-next {
	display: none;
}

.slide-pre {
	display: none;
}

.slide-current {
	display: block;
}